<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/../css/styles.css'>
    <title>Library Catalog</title>
  </head>
  <body>

    <div class='container-fluid'>

      <!-- PAGE BANNER -->
      <div class='page-header'>
        <img src='/img/fakeu.png' alt='university logo'>
        <div class='logo-words'>
          <h1>Library Catalog</h1>
          <h5>sweet Catalog-ing</h5>
        </div>
      </div>
      <h2>Login</h2>
      <form action='/librarian'>
        <button type='submit' class='btn-danger'>Librarian</button>
      </form>
      <form action='/patron'>
        <button type='submit' class='btn-primary'>Patron</button>
      </form>
    </div><!-- END CONTAINER -->
  </body>
</html>
